body {
    font-family: Ayuthaya;
    text-align: center;
    background-color: lightcyan;
    font-size: large;
}

button {
    font-family: Ayuthaya;
    font-size: large;
    color: cornflowerblue;
}


#myDiv {
    font-size: 36px;
}
